.article {
  height: 100vh;
  display: flex;
  padding-top: 75px;
  justify-content: center;
  a {
    text-decoration: none;
    color: black;
  }
}

.article-bis {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-info {
  width: 900px;
  border: 1px solid black;
}

.article-info-bis {
  width: 900px;
  border: 1px solid black;
}

.article-title {
  display: flex;
  align-items: center;
  height: 70px;
  p:first-child {
    font-size: 32px;
  }
}

.article-photo {
  height: 460px;
  display: flex;
  justify-content: center;
}

.article-photos {
  height: 310px;
  display: flex;
  justify-content: space-between;
}

.whito {
  width: 900px;
}
