.article {
  height: 100vh;
  display: flex;
  padding-top: 75px;
  justify-content: center;
  a {
    text-decoration: none;
    color: black;
  }
}

.article-bis {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-info {
  width: 900px;
  height: 500px;
  border: 1px solid black;
}

.article-title {
  display: flex;
  align-items: center;
}

.article-photo {
  height: 240px;
  display: flex;
  justify-content: space-around;
}

.white {
  width: 900px;
}
