.formulaire {
  border: 2px solid black;
  border-radius: 5px;
  height: 625px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}

.question {
  border: 2px solid black;
  border-radius: 5px;
  height: 625px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 75px;
}

.affiche {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-bottom: 10px;
  height: 110px;
  p {
    padding: 10px 10px 0px 10px;
    margin: 0;
    font-size: 24px;
  }
}

.inf {
  p:first-child {
    font-size: 18px;
  }
  p:nth-child(2) {
    font-size: 12px;
  }
}

.para {
  opacity: 0.3;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-bottom: 10px;
  height: 110px;
  p {
    padding: 10px 10px 0px 10px;
    margin: 0;
    font-size: 24px;
    text-decoration: line-through;
  }
}

input[type="checkbox"] {
  margin: 20px;
}
