.contact {
  height: 100vh;
}
.formulaire {
  border: 2px solid black;
  border-radius: 5px;
  height: 625px;
  width: 500px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question {
  border: 2px solid black;
  border-radius: 5px;
  height: 625px;
  width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
