// Specific CSS for your home-page
#home {
  background-image: asset-url('1.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
}

.titre {
  position: absolute;
  top: 50%;
  left: 25px;
  align-items: center;
  p {
    font-size: 65px;
    padding-top: 35px;
    padding-left: 5px;
  }
  p:first-child {
    font-size: 5px;
  }
  img {
    width: 90px;
  }
}

.liste {
  margin-top: 55px;
  a {
    text-decoration: none;
    color: black;
    font-size: 24px;
  }
  ul {
    margin-bottom: 10px;
  }
}

.compteur {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  bottom: 10px;
  right: 20px;
  p {
    color: white;
  }
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.formul-new-theme {
  height: 94vh;
}

.fa-heart {
  color: #D23333;
}

@media (max-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .liste {
    a {
      font-size: 17px;
    }
  }
  .titre {
    p:last-child {
      font-size: 45px;
    }
    img {
      width: 70px;
    }
    p:first-child {
    font-size: 5px;
    }
  }
  .compteur {
    p {
      font-size: 14px;
    }
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .cards {
    grid-template-columns: 1fr;
  }
  .liste {
    a {
      font-size: 10px;
    }
  }
  .titre {
    p:last-child {
      font-size: 30px;
    }
    img {
      width: 50px;
    }
    p:first-child {
    font-size: 5px;
    }
  }
  .compteur {
    p {
      font-size: 10px;
      color: black;
    }
    a {
      font-size: 10px;
    }
  }
}
