// Specific CSS for your home-page
#home {
  background-image: asset-url('macareux_look2.jpg');
  background-size: cover;
  height: 100vh;
  position: relative;
}

.titre {
  position: absolute;
  top: 50%;
  left: 25px;
  align-items: center;
  p {
    font-size: 65px;
    padding-top: 35px;
    padding-left: 5px;
  }
  p:first-child {
    font-size: 5px;
  }
}

.liste {
  a {
    text-decoration: none;
    color: black;
    font-size: 24px;
  }
  li {
    font-weight: bolder;
  }
  padding-top: 60px;
  ul {
    margin-bottom: 10px;
  }
}

.compteur {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.formul-new-theme {
  height: 100vh;
}
