// Specific CSS for your home-page
#home {
  background-image: asset-url('ACCUEIL4.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
}

.titre {
  position: absolute;
  top: 45%;
  left: 25px;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  p {
    font-size: 70px;
    margin-top: 44px;
    padding-left: 5px;
    margin-bottom: 0;
    padding-right: 10px
  }
  p:first-child {
    font-size: 5px;
  }
  img {
    width: 90px;
  }
}

.liste {
  margin: 55px 125px 10px 125px;
  a {
    text-decoration: none;
    color: black;
    font-size: 24px;
  }
  ul {
    margin-bottom: 10px;
  }
}

.compteur {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  bottom: 10px;
  right: 20px;
  p {
    color: white;
  }
}

.formul-new-theme {
  height: 94vh;
  margin: 0 15px;
}

.fa-heart {
  color: #D23333;
}

@media (max-width: 1200px) {
  .liste {
    margin: 47px 85px 10px 85px;
    a {
      font-size: 18px;
    }
  }
  .titre {
    p:last-child {
      font-size: 54px;
    }
    img {
      width: 70px;
    }
    p:first-child {
    font-size: 5px;
    }
  }
  .compteur {
    p {
      font-size: 14px;
    }
  }
}

@media (max-width: 870px) {
  .liste {
    margin: 41px 50px 10px 50px;
    a {
      font-size: 15px;
    }
  }
  .titre {
    p:last-child {
      font-size: 42px;
    }
    img {
      width: 70px;
    }
    p:first-child {
    font-size: 5px;
    }
  }
  .compteur {
    p {
      font-size: 14px;
    }
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .liste {
    margin: 35px 25px 10px 25px;
    a {
      font-size: 13px;
    }
  }
  .titre {
    top: 75%;
    left: 10px;
    p:last-child {
      font-size: 30px;
      margin-top: 28px;
      padding-left: 2px;
    }
    img {
      width: 50px;
    }
    p:first-child {
    font-size: 5px;
    }
  }
  .compteur {
    p {
      font-size: 10px;
      color: white;
      font-weight: bolder;
    }
    a {
      font-size: 10px;
    }
  }
}
