.livredor {
  height: 100vh;
  padding-top: 75px;
}

.lien {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.affichage {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  height: 80px;
  p {
    padding: 10px 10px 0px 10px;
    margin: 0;
  }
  p:nth-child(2) {
    font-size: 12px;
  }
}

.livre {
  height: 100vh;
}
