.livredor {
  position: relative;
  height: 100vh;
}

.lien {
  position: absolute;
  bottom: 50px;
  right: 30px;
}

.affichage {
  border: 1px solid black;
  display: flex;
}

.livre {
  height: 100vh;
}
