.single-item {
  width: 95%;
}

.relou {
  img {
    width: 100%;
    height: auto;
  }
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

.sho {
  margin: 55px 125px 10px 125px;
  h3 {
    margin-bottom: 10px;
  }
}

.showi {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foto {
  position: relative;
}

.remove-link {
  color: white;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0;
  transform: rotate(45deg);
  font-weight: lighter;
  &:hover {
    color: white;
    text-decoration: none;
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .sho {
  margin: 47px 85px 10px 85px;
  }
  .single-item {
    width: 95%;
    height: 69vh;
  }
  .modal-dialog {
    max-width: 800px !important;
  }
}

@media (max-width: 840px) {
  .sho {
  margin: 41px 50px 10px 50px;
  }
  .single-item {
    width: 95%;
    height: 43vh;
  }
  .modal-dialog {
    max-width: 700px !important;
  }
}

@media (max-width: 540px) {
  .sho {
  margin: 35px 25px 10px 25px;
  }
  .single-item {
    width: 95%;
    height: 35vh;
  }
  .modal-dialog {
    margin: 0px;
  }
  .showi {
    margin: 0 10px;
  }
}
