<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-sm-8 col-md-4 offset-sm-2 offset-md-4">
      <div class="formul-new-theme d-flex align-items-center">
        <%= simple_form_for(@theme) do |f| %>
          <%= f.input :name %>
          <%= f.button :submit, "CREER UN THEME", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
