<div class="about">
  <div class="card-product">
    <%= image_tag "IMG_3346.jpg", alt: "photo_Patricia" %>
    <div class="card-product-infos">
      <h2>Petit mot de l'artiste</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, eum optio asperiores, maiores sequi molestiae magnam quo nulla. Adipisci, neque!</p>
      <div class="instaface">
        <a href="https://www.instagram.com/patochelou/?hl=fr" target="_blank" ><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/patricia.beaupuis.7" target="_blank" ><i class="fab fa-facebook"></i></a>
      </div>
    </div>
  </div>
</div>


