<div class="about">
  <div class="card-product">
    <%= image_tag "Patricia.jpg", alt: "photo_Patricia" %>
    <div class="card-product-infos">
      <h2>Petit mot de l'artiste</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, eum optio asperiores, maiores sequi molestiae magnam quo nulla. Adipisci, neque!</p>
    </div>
  </div>
</div>


