<div id="home">
  <div class="titre d-flex">
    <%= link_to new_user_session_path do %>
      <%= image_tag "appareil_photo.png", alt: "app_photo", width: 90 %>
    <% end %>
    <p>Patou Photo</p>
  </div>
</div>
