<div id="home">
  <div class="titre d-flex border-bottom">
    <%= image_tag "Patochelou Photography logo.png", alt: "app_photo" %>
    <%= link_to new_user_session_path do %>
      <p>.</p>
    <% end %>
    <p>Patochelou</p>
  </div>
  <div class="compteur">
    <a href="http://www.mon-compteur.fr"><img src="http://www.mon-compteur.fr/html_c02genv2-71264-2" border="0" /></a>
    <p>&copy; 2020 Design with <i class="fas fa-heart"></i> by TocTof</p>
  </div>
</div>
