<div id="home">
  <div class="titre d-flex">
    <%= image_tag "appareil_photo.png", alt: "app_photo", width: 90 %>
    <%= link_to new_user_session_path do %>
      <p>.</p>
    <% end %>
    <p>Patou Photo</p>
  </div>
  <div class="compteur">
    <a href="http://www.mon-compteur.fr"><img src="http://www.mon-compteur.fr/html_c02genv2-71264-2" border="0" /></a>
    <p>&copy; 2020 Design with <i class="fas fa-heart"></i> by TofTof</p>
  </div>
</div>
