<div class="contact-new">
  <div class="question">
    <p>Une photo vous plait?</p>
    <p>Vous souhaitez avoir des renseignements?</p>
    <p>Contactez-moi</p>
  </div>
  <div class="formulaire">
    <%= simple_form_for(@contact) do |f| %>
      <%= f.input :email, :label => 'Votre email' %>
      <%= f.input :content, :label => 'Posez votre question' %>
      <%= f.button :submit, "Envoyer", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
