<div class="container">
  <div class="row">
    <div class="col-sm-12 mb-3">
      <div class="liste border-bottom">
        <ul class="list-inline">
          <% @animals.each do |animal| %>
            <%= link_to animal_path(animal) do %>
              <li class="list-inline-item mt-2 mr-3"><%= animal.name %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="cards mt-3">
        <% @animals.each do |animal| %>
          <% animal.images.each do |image| %>
            <%= cl_image_tag image.photo.key, width: 360, height: 240, crop: :fill %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
