<%= link_to "Effacer #{@animal.name}",
            animal_path(@animal),
            method: :delete,
            data: {confirm: "Êtes-vous sûr(e)?" } %>

<div>
  <h3><%= @animal.name %></h3>
  <% @animal.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
</div>
