<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="livredor d-flex flex-column align-items-center">
        <% @livredors.each do |livredor| %>
          <div class="affichage">
            <p class="flex-grow-1"><%= livredor.content %></p>
            <p><%= livredor.name %></p>
          </div>
        <% end %>
        <div class="lien">
          <%= link_to "LAISSER UN COMMENTAIRE", new_livredor_path, class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
</div>
