<div class="livre d-flex justify-content-center align-items-center">
  <%= simple_form_for(@livredor) do |f| %>
    <%= f.input :name %>
    <%= f.input :content %>
    <%= f.button :submit, "Poster votre commentaire", class: "btn btn-success" %>
  <% end %>
</div>
