.card-product {
  height: 250px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 800px;
  margin: 0 10px;
  border-radius: 10px;
}

.card-product img {
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.card-product h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  padding: 0 10px;
}

.card-product p {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  padding: 0 10px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  flex-grow: 1;
  margin: 10px 125px;
}

.card {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  p {
    margin-bottom: 0;
  }
}

.card-product-article {
  height: 250px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 1000px;
  margin: 0 10px;
}

.card-product-article img {
  height: 100%;
  width: 300px;
  object-fit: cover;
  // background-position: center;
}


@media (max-width: 1200px) {
  .card-product {
    height: 225px;
    width: 670px;
    h2 {
      font-size: 26px;
    }
    p {
      font-size: 16px;
    }
  }
  .card-product-article {
    height: 225px;
    width: 670px;
    img {
      width: 168px;
    }
  }
  .cards {
    grid-template-columns: 1fr 1fr;
    margin: 10px 85px;
  }
  .card {
    img {
      height: 325px;
    }
  }
}

@media (max-width: 870px) {
  .card-product {
    height: 225px;
    width: 600px;
    h2 {
      font-size: 23px;
    }
    p {
      font-size: 14.5px;
    }
  }
  .card-product-article {
    height: 225px;
    width: 500px;
    img {
      width: 125px;
    }
  }
  .cards {
    grid-template-columns: 1fr 1fr;
    margin: 10px 50px;
  }
  .card {
    img {
      height: 240px;
    }
  }
}

@media (max-width: 540px) {
  .card-product {
    display: flex;
    flex-direction: column;
    // height: 230px;
    width: 300px;
    h2 {
      font-size: 19px;
      padding-top: 10px;
    }
    p {
      font-size: 13px;
      margin: 0;
    }
    img {
      height: 100%;
      width: 100px;
      border-radius: 10px;
    }
  }
  .card-product-article {
    height: 225px;
    width: 300px;
    img {
      width: 125px;
    }
  }
  .cards {
    grid-template-columns: 1fr;
    margin: 10px 25px;
  }
  .card {
    img {
      height: 180px;
    }
  }
}
