.navbar-patou {
  background: white;
  height: 55px;
  width: 100%;
  font-size: 25px;
  position: absolute;
  top: 0px;
  z-index: 100;
  ul {
    list-style-type: none;
    padding-left: 0px;
  }
  a {
    text-decoration: none;
    color: black;
    // font-weight: bolder;
  }
  img {
    margin-top: 5px;
  }
}
