.navbar-patou {
  background: white;
  height: 60px;
  font-size: 24px;
  z-index: 100;
  ul {
    list-style-type: none;
  }
  li {
    text-decoration: none;
    color: black;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
